.jumbotron.errorpadding {padding-top:105px;padding-bottom:45px;background:#eee;}
.jumbotron.jumbo-padding {padding-top:105px;padding-bottom:45px;background:#eee;}
.jumbotron.slider-padding {padding:0;margin-top:60px;}
.jumbotron.errorpadding img {margin-bottom:15px;}
.jumbotron.text-center img {display:block;margin:0 auto;}
.carousel-inner .item img  {margin:0 auto!important;width:100%;}
.content-padding {padding-top:40px;padding-bottom:40px;}
.maintenance {height:100vh;background:#eee;padding-top: 10%;}
.maintenance-logo {margin-bottom:15px;}
.navbar-brand img {
    height: 36px!important;
}

.navbar-brand {
    float: left!important;
    font-size: 18px!important;
    line-height: 20px!important;
    padding: 12px 15px;
	height: 60px!important;
}

.navbar-nav > li > a {
    padding-bottom: 20px!important;
    padding-top: 20px!important;
}

.btn-lg, .btn-sm, .btn-xs {margin:5px 0;display:inline-block;}
.row h1,.row .h1,.row h2,.row .h2,.row h3,.row .h3 {margin-bottom: 15px;}
.list-group-item > a > .badge {float: right;}
.meta {font-size:0.8em;}
.text-right {text-align:right;}
.text-left {text-align:left;}
.float-right {float:right;}
.float-left {float:left;}
h2 {margin-top:0;}
.search-margin {margin-top:40px;}
.search-container {background:#ddd}
.footer {background:#eee}
.search-container .form-group {margin:0;}
.search-container .btn {display:block;width:100%;}
.thumbnail .caption {min-height:300px;}
